---
    import Layout from "../layouts/Layout.astro";
    import ProjectCard from "../components/ProjectCard.astro";
    import { projectsData } from "../lib/data";
---

<Layout title="Projects">
    <section class="px-[19px] md:px-[83px] mt-[88px] mb-[88px]">

            {projectsData.map((project, index) =>
                <ProjectCard key={index} title={project.title} description={project.description} links={project.links} tags={project.tags} imgUrl={project.imgUrl}></ProjectCard>
            )}

    
            <div class="contact">
                <p>Do you like my projects?</p>
                <a href="/contact" class="btn">
                    Let's Meet
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 12l14 0" />
                        <path d="M15 16l4 -4" />
                        <path d="M15 8l4 4" />
                    </svg>
                </a>
            </div>
    </section>











    


    
</Layout>


<style lang="scss">

    :root{
        --contact-width: 600px; 
        --padding-section: 88px;
        @media(width <= 767px){
            --contact-width: 300px;
            --padding-section: 61px;
        }
    }

 

   

    .contact{

        //margin-bottom: var(--padding-section);

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media(width <= 767px) {
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 15px;
        }

        width: var(--contact-width);
        height: min-content;
        background-color: #F4F4F1;
        border-radius: 1.25rem;
        padding: 1.25rem 2rem;
        color: black;

        p{
            font-weight: 500;
        }

        a{
            border: 1px solid #0a0b0c;
            border-radius: 1rem;
            padding: 1rem 1rem;
            font-size: 14px;
            font-weight: 500;
            color: #0a0b0c;
            text-decoration: none;
            background-color: transparent;
            transition: border-radius 0.4s ease;


            &:hover{
                border-radius: 2rem;
            }
        }
    }


    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem; // space-between a and icon
    }
</style>