---
import type { Experience } from '../types/global';

interface Props {
    experience: Experience;
}

const { experience }= Astro.props;
---


<div>
    <div class="flex justify-between flex-wrap">
        <p class="font-semibold">
            <a href="https://www.3nitram.com/" target="_blank" class="hover:underline text-lg font-semibold">{experience.company}</a>
            <span class="text-xs px-2 py-1 ml-2  rounded bg-[#F5F5F5] font-semibold">{experience.workMode}</span>
        </p>
        <p class="text-xs text-secondary">{experience.date}</p>
    </div>
    <p class="-tracking-wide">{experience.title}</p>
    <ul class="list-disc pl-5 text-sm text-muted-foreground text-secondary">
        {
            experience.responsibilities.map(responsibility => (
                <li>{responsibility}</li>
            ))
        }
    </ul>
</div>